
/*
    RESET
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body, html {
    height: 100%;
}
ol, ul {
    list-style: none;
}
input,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: 0;
}
input:focus {
    outline: 0;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
a {
    text-decoration:none; 
    color: #06c;
}
*, *:before, *:after {
    box-sizing: border-box;
}





/*

*/

.search-box input::-webkit-input-placeholder { color: #868e96; }
.search-box input::-moz-placeholder { color: #868e96; }
.search-box input:-ms-input-placeholder { color: #868e96; }

.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading p,
.wf-loading input,
.wf-loading .meta {
    visibility: hidden;
}

.btn {
    display: inline-block;
    background: #2279d0;
    color: #c6e1fd;
    padding: 6px 12px;
    cursor: pointer;
    outline: 2px solid rgba(32, 35, 38, 0.4);
    outline-offset: -2px;
    letter-spacing: -0.5px;
}

.btn-cancel {
    background: #51565a;
    color: #bbc4ce;
}

.italic {
    font-style: italic;
}

input,
textarea {
    padding: 8px 12px;
    width: 100%;
}

.logo {
    flex-shrink: 0;
}







/*
    LAYOUT
*/

html {
    font-size: 18px;
}

body {
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    background: #202326;
}

.limit {
    max-width: 1860px;
    padding: 20px 40px;
    margin: 0 auto;
}

.single-page .limit {
    max-width: 1246px;
    margin: 0 auto;    
}

.wrap {
    display: flex;
    padding-top: 40px;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.loop {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    padding-right: 3%;
}

.loop article {
    padding-bottom: 20px;
    padding-right: 15px;
}

.main-single {
    flex-grow: 1;
    background: #e6ebef;
}

.main-user {
    flex-grow: 1;
}








/*
    COMPONENT: SEARCH
*/

.search {
    width: 620px;
    padding: 0 2px;
}

.search-box {
    position: relative;
    z-index: 20;    
}

.search-box input {
    width: 100%;
    padding: 10px 10px 10px 60px;
    background: #30383e;
    color: #868e96;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 21;
    margin: 0;
}

.search-box input:focus {
    background: #fff;
    color: #202326;
}

.search-box button {
    position: absolute;
    padding: 12px 10px 11px 20px;
    font-size: 16px;   
    background: transparent;
    color: #868e96;
    z-index: 22;
}

.search-results {
    position: absolute;
    background: #fff;
    z-index: 20;
    right: 0;
    left: 49px;
    top: 49px;
    display: none;
}


.search-results-wrap {
    background: rgba(32, 35, 38, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
    display: none; 
}

.search-item {
    display: block;
    color: #202326;
    padding: 5px 16px;
    transition: background 0.3s ease;
}

.search-item img {
    vertical-align: middle;
}

.search-item:hover {
    background: #e5eef7;
}

.search-title {
    font-weight: 600;
    padding: 0 6px 0 14px;       
}

.search-data {
    color: #788694;
    font-size: 16px;
}







/*
    COMPONENT: LOGIN
*/

.user {
    flex-shrink: 0;
}

.header-login,
.user-logged {
    display: block;
}

.header-login i,
.user-logged i {
    padding: 11px 5px 11px 13px;
    font-size: 22px;
    color: #fff;
}

.user-logged i {
    color: #92c9ff;
}

.user-logged > img {
    margin: 5px 0 5px 6px;
    border-radius: 17px;
    box-shadow: 0 0 0px 1px #404b52;
}

.login-wrap {
    margin: 0 auto;
    margin-top: 15%;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px 14px;
}

.login-wrap p {
    padding: 34px 0 14px 0;
}

.social-btn {
    position: relative;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    transition: background 0.3s ease;
}

.social-btn i {
    padding-right: 10px;
}

.facebook {
    background: #617db8;
}

.google {
    background: #fd5f51;
}

.facebook:hover {
    background: #5571a9;
}

.google:hover {
    background: #dc493c;
}






/*
    COMPONENT: LOOP
*/

.movie {
}

.loop a {
    color: #d8e2ec;
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 24px;
    align-items: flex-end;
    max-width: 166px;
    height: 40px;
}

.meta span {
    line-height: 14px;
    padding-bottom: 5px;   
}

.medium-image {
    position: relative;
}

.loop-image {
    width: auto;
    height: auto;
    max-width: 166px;
    max-height: 249px;
    outline: 4px solid rgba(32, 35, 38, 0.4);
    outline-offset: -4px;
}

.order {
    position: absolute;
    top: 4px;
    left: 4px;
    background: rgba(32, 35, 38, 0.4);
    width: 40px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    z-index: 12;
}

.movie-title {
    line-height: 22px;
    font-weight: 600;
    padding: 6px 0;
    max-width: 166px;
}

.empty-grid > div {
    width: 186px;
    height: 0;
}








/*
    COMPONENT: RATINGS
*/

.rating {
    font-size: 9px;
    flex-shrink: 0;
}

.rating .desactivate {
    color: #34393e;
}

.rating-1 { color: #ff4c4b; }
.rating-2 { color: #ff4c4b; }
.rating-3 { color: #ff4c4b; }
.rating-4 { color: #FF8E50; }
.rating-5 { color: #FDD062; }
.rating-6 { color: #E0FD62; }
.rating-7 { color: #a0fd6c; }
.rating-8 { color: #01fe87; }
.rating-9 { color: #01fe87; }

.rating-single {
    padding: 30px 0 20px;
}

.rating-single li {
    padding: 2px 0px;
}

.rating-count {
    position: relative;
    top: -1px;
    margin: 0 8px 0 6px;
    padding: 0 6px;
    border-radius: 4px;
    font-size: 14px;
    color: #89939e;
    background: #30383e;
}

.rating-count:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #31363c;
    border-width: 5px;
    margin-top: -5px;
}

.rating-single .rating {
    display: inline-block;
    font-size: 14px;
    position: relative;
    top: -2px;
}

.rating-total {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 2px;
    width: 34px;
    display: inline-block;
}

.rating-total i {
    font-size: 12px;
    padding-left: 2px;
}






/*
    COMPONENT: INFO
*/


.info {
    width: 300px;
    flex-shrink: 0;
    color: #8c96a0;
    display: flex;
    flex-direction: column;
}

.info h1,
.info .h1 {
    color: #fff;
    font-family: "futura-pt",sans-serif;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -2px;
    padding-bottom: 14px;
    margin-left: -3px;
}

.info h2,
.info .h2 {
    color: #868e96;
    line-height: 24px;
    padding-bottom: 5px;
}

.author {

}

.author a {
    color: #c6e1fd;
}

.info time {
    font-size: 16px;
    line-height: 16px;
}

.info .count {
    font-size: 16px;
    line-height: 16px;
}

.info .lists-item {
    padding: 14px 0;
    border-top: 2px solid #293034;
    margin-top: 13px;
}

.js-info .lists-item {
    border-color: #272a2d;
}

.lists-item li {
    padding: 9px 0;
}

/* TRICK PARA CUANDO SE PARTE EN DOS LÃNEAS QUE FUNCIONE EL BACKGROUND COLOR */


.lists-item a,
.lists-item span {
    color: #c6e1fd;
    cursor: pointer;
    padding: 6px 12px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: #30383e;
    outline: 2px solid rgba(32, 35, 38, 0.4);
    outline-offset: -2px;
    transition: all .3s ease;
}

.lists-item a:hover,
.lists-item span:hover {
    background: #3e3030;
    color: #dfefff;
}

.lists-item .btn-info {
    background: #272a2d;
    color: #8ea1b5;
}

.lists-item .flash-disable-add-list {
    background: #478a6a;
    transition: background 1s ease;
}

.lists-item .disable-add-list {
    color: #58ffbc;
    background: #355646;
    cursor: auto;
}

.icon-new-list {
    font-size: 16px;
    padding-left: 6px;
    position: relative;
    top: 1px;    
}

.icon-add-list {
    font-size: 14px;
    position: relative;
    right: -3px;
}

.icon-check-list {
    font-size: 10px;
    padding-left: 3px;
    position: relative;
    right: -2px;
}

.movie-lists p {
    padding-bottom: 2px;
    font-size: 16px;
    color: #757e88;
}

.icon-level-down {
    position: relative;
    top: 1px;
    font-size: 13px;
    padding-left: 2px;
}

.js-form-edit {
    display: none;
}

.icon-edit {
    font-size: 12px;
    position: relative;
    top: -1px;
    left: 2px;
    padding-left: 1px;
}

.icon-delete {
    font-size: 10px;
    position: relative;
    top: -1px;
    left: 0px;
    padding-left: 4px;    
}







/*
    COMPONENT: SUMMARY (SINGLE)
*/

.summary {
    background: #fff;
    color: #202326;
    padding: 40px 50px 30px;
}

.summary h1 {
    font-family: "futura-pt",sans-serif;
    font-size: 76px;
    line-height: 76px;
    letter-spacing: -3px;
    margin-left: -4px;
    padding-bottom: 10px;
}

.summary p {
    padding-bottom: 10px;
}

.note {
    display: inline-block;
    padding: 0 8px 0 6px;
    border-left: 4px solid;
    line-height: 21px;
    font-weight: 600;
}

.hack-note {
    padding-right: 2px;
}






/*
    COMPONENT: CRITICS
*/

.critics {
    background: #f3f5f7;
    color: #202326;
    padding: 40px 50px 20px;
}

.critics > article {
    padding-bottom: 30px;
}

.critics .no-avatar {
    display: inline-block;
    padding-right: 4px;
    font-size: 22px;
    position: relative;
    top: 2px;
}

.comment .no-avatar {
    color: #06c;    
}

.comment time {
    align-self: flex-end;
    font-size: 14px;
    line-height: 26px;
}

.critics .author {
    font-weight: 600;
}

.critics .alias {
    padding-left: 3px;
}

.external {
    color: #7a848e;
}

.external header,
.comment header {
    font-size: 16px;
}

.comment header {
    display: flex;
    justify-content: space-between;
}

.add-critic {
    padding: 40px 50px;
    background: #e6ebef;
}

.add-critic textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #bbc6d0;
    resize: none;
    margin-bottom: 8px;
}

.add-critic label {
    color: #7a848e;
    padding-bottom: 10px;
    display: block;
}






/* 
    COMPONENTS: MODALS
 */

.modal-wrap {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;   
}

.modal {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.modal .inner {
    background: #202326;
    padding: 20px 25px;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

.modal input,
.modal textarea {
    margin-bottom: 20px;
}

.modal textarea {
    display: none;
}

.modal .lbl-title {
    display: block;
    font-size: 20px;
    letter-spacing: -0.3px;
}

.modal .errors {
    color: #ec896b;
    padding: 4px 0 12px;
}

.form-new-list {
    width: 300px;
}

.modal .btn-group {
    margin-bottom: 16px; 
}

.modal button {
    margin-right: 10px;
}





/*
    CHECKBOX STYLES
*/

.modal .checkbox {
    text-align: left;
}

input[type=checkbox] {
    display: none;
}

.lbl-check {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    color: #828b94;
}

.lbl-check:before {
    content: '\f0a4';
    font-family: 'Moviedb';
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid #454c52;
    margin-right: 13px;
    font-size: 12px;
    line-height: 20px;
    color: transparent;
}

input[type=checkbox]:checked + .lbl-check {
    color: #fff;
}

input[type=checkbox]:checked + .lbl-check:before {
    color: #fff;
}








/* 
    LIST LOOP
*/

.list-loop {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.list-loop article {
    display: flex;
    margin-right: 50px;
}

.list-data {
    width: 158px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #86919c;
    font-size: 14px;
    line-height: 18px;
    padding-left: 10px;
}

.list-data h3 a {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;
}

.list-data h3 i {
    font-size: 15px;
    padding-left: 3px;
    color: #ffdd8e;
}

.list-data time {
    padding-bottom: 4px;
}

.list-data span {

}








/* 
    LIST EDIT
 */


.js-chosen {
    opacity: 0.5;
}

.icon-order-up,
.icon-order-down {
    font-size: 15px;
    position: relative;
    padding-left: 3px;    
}

.icon-order-up {
    color: #93e8a6;
    top: -1px;
}

.icon-order-down {
    color: #ffba98;
    top: 0;
}

.edit-info-on header div {
    font-weight: 600;
    font-size: 20px;  
}

.edit-info-on header p {
    line-height: 20px;
    color: #828b94;
    padding-bottom: 15px;
    font-size: 16px;
}

.edit-field div {
    font-size: 16px;
    color: #828b94;
}

.edit-field p {
    padding: 6px 10px;
    margin-bottom: 12px;
    outline: none;
    min-height: 32px;
    background: #2c3033;
}

.edit-info-on .lbl-check:before {
    float: right;
    margin: 0 0 0 10px;
    top: 3px;
    position: relative;
}

.edit-btns {
    margin-top: 15px;
}

.edit-btns .btn-cancel {
    margin-right: 5px;
}

.article-edit .medium-image:before {
    content: '\f0f6';
    font-family: 'Moviedb';
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 249px;
    color: #ffffff;
    z-index: 12;
    background: rgba(32, 35, 38, 0.51);
}








/* 
    RESPONSIVE HOME
*/

  @media (max-width:1750px) {
   .limit {
       max-width: 1640px;
   }

   .info {
       width: 280px;
   }
}

@media (max-width:1535px) {
   .limit {
       max-width: 1400px;
   }

   .info {
       width: 260px;
   }
}

@media (max-width:1320px) {
   .limit {
       max-width: 1100px;
       padding: 25px;
   }

   .info {
       width: 220px;
   }

   section.info h1 {
       font-size: 50px;
       line-height: 50px;  
       margin-left: -1px;  
   }

}

@media (max-width:1026px) {
    .limit {
        max-width: 820px;
    }

    .loop {
        padding-right: 0;
    }

    .loop article {
        padding-right: 0;
    }

    .wrap {
        flex-direction: column;
        padding-top: 20px;
    }

    .info {
        order: -1;
        width: 100%;
    }

    .info h1 {
        padding-bottom: 0;
    }

    .info h2,
    .info .h2 {
        display: inline-block;
    }

    .info .author {
        padding-left: 5px;
    }

    .info-data {
        padding-bottom: 10px;
    }

    .info .lists-item {
        border: 0;
        margin-top: 0;
        padding: 0 0 20px;
        order: -1;
    }

    .lists-item li {
        display: inline-block;
        padding: 6px 0;
    }

    .lists-item div {
        padding: 6px 8px;
    }

    .lists-item a {
        color: #a2afbb;
    }



}

@media (max-width:752px) {
    .loop-image {
        width: 100%;
    }

    .loop article {
        flex-basis: 23%;
    } 
}

@media (max-width:560px) {
    .loop article {
        flex-basis: 31%;
    } 

    .info-data {
        padding: 10px 0 5px;
    }

    .info .lists-item {
        display: none;
    }
}

@media (max-width:440px) {

    .limit {
        padding: 0;
    }

    .loop article {
        flex-basis: 48%;
        display: flex;
        justify-content: center;
    } 

    .info {
        width: 95%;
        margin: 0 auto; 
    }

    .header-login i {
        background: #30383e;
        padding: 11px 0;
        width: 44px;
        text-align: center;
    }
}


}  